html,
body{
    height:100%;margin:0;padding:0
}

html {
  scroll-behavior: smooth;
}

body{
    font-size:16px;
	line-height:1.62857143;
	font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}
body {
	display: flex;
    flex-flow: row wrap;
    color:#333;
}
/* Mobile first - alle Dokument-Blöcke bekommen 100% Breite */

header,
nav,
nav a,
article,
section,
aside,
footer {
	flex: 1 100%;
}

header {
	display: flex;
	flex-flow: column;
}

header * {
	flex: 1 1 0%;
}

header a {
	flex: 0 0 150px;
	margin-right: 20px;
}

header nav {
	flex: 1 1 100%;
}

nav,
nav ul,
nav li {
	margin: 0;
	padding: 0;
	border: none;
}

nav ul {
	display: flex;
	flex-direction: column;
}

nav li {
	list-style-type: none;
	margin: 1.3em 0;
	flex: 1 1 100%;
}

nav a {
	display: inline-block;
	width: 95%;
	background: #fffbf0;
	border: 1px solid #dfac20;
	margin: 0;
	text-decoration: none;
	text-align: center;
}

nav a:hover,
nav a:focus {
	background-color: #dfac20;
}

section {
}

article {
    padding:2rem;
}

aside {
    padding:2rem;
}

footer {
	display: flex;
	flex-flow: row wrap;
}
/* Smart Phones und Tablets mit mittlerer Auflösung */

@media all and (min-width: 35em) {
  header{
	  flex-flow: row wrap;
  }
	header a {
		margin-right: 50px;
	}
	nav ul {
		flex-direction: row;
	}
	nav li {
		margin: 0 10px;
		flex: 1 1 0%;
	}
	article {
		order: 2;
	}
	aside {
		/* durch auto werden die beiden asides in eine Zeile gesetzt */
		
		flex: 1 1 auto;
		order: 4;
	}
	footer {
		order: 5;
	}
}
/* Large screens */

@media all and (min-width: 50em) {
  header{
	  flex-flow: row wrap;
  }
	article {
		/* Der Article wird 2.5x so breit wie die beiden asides! */
		
		order: 3;
		flex: 5 1 0%;
	}
	aside {
		flex: 2 1 0%;
	}
}

a{
    color:#195584;
    text-decoration: none;
}

a:visited,a:hover,a:active{
    color:#7b598f;
    text-decoration: none;
}

.boxes a{
    padding:2rem;border:.5rem solid rgb(188, 11, 6);
    
    text-decoration:none;font-weight:bold;font-size:1.4rem;background:rgba(188, 11, 6, .02)
}

.boxes,
.details-boxes{
    display:grid;grid-template-columns:repeat(auto-fill,minmax(210px,1fr));
    grid-gap:2rem;
}
    
.boxes a span{color:#000;margin-top:2rem;display:block;font-weight:normal;font-size:1.2rem}

.breadcrumbs{
  text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
    
h1{
    letter-spacing:.2em;
    padding-top:0;
    margin:0;
    overflow:hidden;
    font-size:48px;
    font-weight:700;
    line-height: 87px;
    word-break: break-word;
}

h2{
    font-size:38px;
    margin-top:4rem;
}

footer{
    width:calc(100% - 4rem);
    margin:2rem
}

footer p{
    text-align:center;
    width: 100%;
}

article img,
code{
    box-shadow: 4px 4px 8px hsla(0,0%,0%,.2);
    border: 1px solid black;
}

header{
    padding: 2rem;
    background-color: rgb(188, 11, 6);
    color: #fff;
    text-shadow: 2px 2px hsla(0,0%,0%,.2);
    box-shadow: 10px 0 10px 10px hsla(0, 0%, 0%, .2);
    margin-bottom: 1rem;
}

header p a,
header p a:hover,
header p a:active,
header p a:visited{
    color:#fff;
}

/*

Monokai Sublime style. Derived from Monokai by noformnocontent http://nn.mit-license.org/

*/

.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: #23241f;
  }
  
  .hljs,
  .hljs-tag,
  .hljs-subst {
    color: #f8f8f2;
  }
  
  .hljs-strong,
  .hljs-emphasis {
    color: #a8a8a2;
  }
  
  .hljs-bullet,
  .hljs-quote,
  .hljs-number,
  .hljs-regexp,
  .hljs-literal,
  .hljs-link {
    color: #ae81ff;
  }
  
  .hljs-code,
  .hljs-title,
  .hljs-section,
  .hljs-selector-class {
    color: #a6e22e;
  }
  
  .hljs-strong {
    font-weight: bold;
  }
  
  .hljs-emphasis {
    font-style: italic;
  }
  
  .hljs-keyword,
  .hljs-selector-tag,
  .hljs-name,
  .hljs-attr {
    color: #f92672;
  }
  
  .hljs-symbol,
  .hljs-attribute {
    color: #66d9ef;
  }
  
  .hljs-params,
  .hljs-class .hljs-title {
    color: #f8f8f2;
  }
  
  .hljs-string,
  .hljs-type,
  .hljs-built_in,
  .hljs-builtin-name,
  .hljs-selector-id,
  .hljs-selector-attr,
  .hljs-selector-pseudo,
  .hljs-addition,
  .hljs-variable,
  .hljs-template-variable {
    color: #e6db74;
  }
  
  .hljs-comment,
  .hljs-deletion,
  .hljs-meta {
    color: #75715e;
  }

  aside section ul{
    list-style-type: none;
    margin-left: -2em;
  }

  aside section ul li a{
    padding: .5rem 0;
    display: inline-block;
  }

code {
    max-height: 420px;
}



header h1 a,
header h1 a:visited,
header h1 a:hover,
header h1 a:active{
    color:#fff;
    margin-right:0;
}

article h2:first-of-type,
aside section:first-of-type h2:first-of-type {
    margin-top: 0;
}

/* Scrollbar Start */
*::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(188, 11, 6);
  outline: 1px solid slategrey;
  cursor: pointer;
}
/* Scrollbar End */

/* Browser mockup code
* Contribute: https://gist.github.com/jarthod/8719db9fef8deb937f4f
* Live example: https://updown.io
*/

.browser-mockup {
  border-top: 2em solid rgba(230, 230, 230, 0.7);
  box-shadow: 0 0.1em 1em 0 rgba(0, 0, 0, 0.4);
  position: relative;
  border-radius: 3px 3px 0 0;
  display:inline-block;
}

.browser-mockup > div{
  max-height:460px;
  overflow-y:scroll;
}

.browser-mockup > div::-webkit-scrollbar-thumb {
  background-color: gray;
}

.browser-mockup:before {
  display: block;
  position: absolute;
  content: '';
  top: -1.25em;
  left: 1em;
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  background-color: #f44;
  box-shadow: 0 0 0 2px #f44, 1.5em 0 0 2px #9b3, 3em 0 0 2px #fb5;
}

.browser-mockup.with-url:after {
  display: block;
  padding-left:.4em;
  position: absolute;
  content: 'Screenshot made with Puppeteer (headless Chromium)';
  width: calc(100% - 6em - 1em);
  height: 1.2em;
  top: -1.6em;
  left: 5.5em;
  border-radius: 2px;
  background-color: white;
  text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: 1;
}

.browser-mockup > * {
  display: block;
}

.browser-mockup img {
  max-width: 100%;
  border:0;
  box-shadow:none;
}

/* To the top rocket */
.rocket-outer{
  text-align:right;
  position:sticky;
  bottom:2rem;
  margin:2rem;
  display:inline-block;
  float:right;
  text-decoration:none;
  color:inherit;
}

.rocket{
  padding:0.5em;
  display:inline-block;
  transform: rotate(-45deg);
}

.rocket-outer::after{
    content: "To the top";
    text-transform: uppercase;
    font-weight: 800;
    line-height: 1em;
    top: -1px;
    position: relative;
}

.rocket:hover{
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}

/* Shake by https://css-tricks.com/snippets/css/shake-css-keyframe-animation/ */
@keyframes shake {
  10%, 90% {
    transform: rotate(-45deg) translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: rotate(-45deg) translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: rotate(-45deg) translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: rotate(-45deg) translate3d(4px, 0, 0);
  }
}