html,
body{
    height:100%;margin:0;padding:0
}

body{
    font-size:1.2rem;
    font-family:monospace;
    animation:fadein 3s
}
body {
	display: flex;
    flex-flow: row wrap;
    color:#333;
}
/* Mobile first - alle Dokument-Blöcke bekommen 100% Breite */

header,
nav,
nav a,
article,
section,
aside,
footer {
	flex: 1 100%;
}

header {
	display: flex;
	flex-flow: row wrap;
}

header * {
	flex: 1 1 0%;
}

header img {
	flex: 0 0 150px;
	margin-right: 20px;
}

header nav {
	flex: 1 1 100%;
}

nav,
nav ul,
nav li {
	margin: 0;
	padding: 0;
	border: none;
}

nav ul {
	display: flex;
	flex-direction: column;
}

nav li {
	list-style-type: none;
	margin: 1.3em 0;
	flex: 1 1 100%;
}

nav a {
	display: inline-block;
	width: 95%;
	background: #fffbf0;
	border: 1px solid #dfac20;
	margin: 0;
	text-decoration: none;
	text-align: center;
}

nav a:hover,
nav a:focus {
	background-color: #dfac20;
}

section {
}

article {
    padding:2rem;
}

aside {
    padding:2rem;
}

footer {
	display: flex;
	flex-flow: row wrap;
}

footer * {
	flex: 1 1 0%;
	justify-content: space-between;
}

footer p {
	text-align: right;
}
/* Smart Phones und Tablets mit mittlerer Auflösung */

@media all and (min-width: 35em) {
	header img {
		margin-right: 50px;
	}
	nav ul {
		flex-direction: row;
	}
	nav li {
		margin: 0 10px;
		flex: 1 1 0%;
	}
	article {
		order: 2;
	}
	aside {
		/* durch auto werden die beiden asides in eine Zeile gesetzt */
		
		flex: 1 1 auto;
		order: 4;
	}
	footer {
		order: 5;
	}
}
/* Large screens */

@media all and (min-width: 50em) {
	article {
		/* Der Article wird 2.5x so breit wie die beiden asides! */
		
		order: 3;
		flex: 5 1 0%;
	}
	aside {
		flex: 2 1 0%;
	}
}


@keyframes fadein {
    from
    {
        opacity:0
    }

    to
    {
        opacity:1
    }
}

a{
    color:#195584;
    text-decoration: none;
}

a:visited,a:hover,a:active{
    color:#7b598f;
    text-decoration: none;
}

.boxes{
    display:grid;grid-template-columns:repeat(auto-fill,minmax(320px,1fr));grid-gap:2rem;
}

.boxes a{
    padding:2rem;border:.5vw solid rgb(188, 11, 6);
    
    text-decoration:none;font-weight:bold;font-size:1.4rem;background:rgba(188, 11, 6, .02)
}
    
.boxes a span{color:#000;margin-top:2rem;display:block;font-weight:normal;font-size:1.2rem}

    
h1{
    letter-spacing:.2em;
    padding-top:0;
    margin:0;
    overflow:hidden;
    font-size:4vw;
    font-weight:700
}

h2{
    font-size:2.5vw;
    margin-top:4rem;
}

footer{
    width:calc(100% - 4rem);
    margin:2rem
}

footer p{
    text-align:center
}

article img,
code{
    box-shadow: 4px 4px 8px hsla(0,0%,0%,.2);
    border: 1px solid black;
}

header{
    padding: 2rem;
    background-color: rgb(188, 11, 6);
    color: #fff;
    text-shadow: 2px 2px hsla(0,0%,0%,.2);
    box-shadow: 10px 0 10px 10px hsla(0, 0%, 0%, .2);
    margin-bottom: 1rem;
}

header p a,
header p a:hover,
header p a:active,
header p a:visited{
    color:#fff;
}

article table td {
    padding: 1rem;
}

/*

Monokai Sublime style. Derived from Monokai by noformnocontent http://nn.mit-license.org/

*/

.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: #23241f;
  }
  
  .hljs,
  .hljs-tag,
  .hljs-subst {
    color: #f8f8f2;
  }
  
  .hljs-strong,
  .hljs-emphasis {
    color: #a8a8a2;
  }
  
  .hljs-bullet,
  .hljs-quote,
  .hljs-number,
  .hljs-regexp,
  .hljs-literal,
  .hljs-link {
    color: #ae81ff;
  }
  
  .hljs-code,
  .hljs-title,
  .hljs-section,
  .hljs-selector-class {
    color: #a6e22e;
  }
  
  .hljs-strong {
    font-weight: bold;
  }
  
  .hljs-emphasis {
    font-style: italic;
  }
  
  .hljs-keyword,
  .hljs-selector-tag,
  .hljs-name,
  .hljs-attr {
    color: #f92672;
  }
  
  .hljs-symbol,
  .hljs-attribute {
    color: #66d9ef;
  }
  
  .hljs-params,
  .hljs-class .hljs-title {
    color: #f8f8f2;
  }
  
  .hljs-string,
  .hljs-type,
  .hljs-built_in,
  .hljs-builtin-name,
  .hljs-selector-id,
  .hljs-selector-attr,
  .hljs-selector-pseudo,
  .hljs-addition,
  .hljs-variable,
  .hljs-template-variable {
    color: #e6db74;
  }
  
  .hljs-comment,
  .hljs-deletion,
  .hljs-meta {
    color: #75715e;
  }

  aside section ul{
    list-style-type: none;
    margin-left: -2em;
  }

code {
    max-height: 420px;
}

.button-code-copy {
    border: 0;
    height: 32px;
    display: none;
    width: 100%;
    text-align: center;
    cursor: pointer;
    background: #fff;
    color: #333;
    font-size: 15px;
    font-weight: 400;
    line-height: 32px;
    padding: 0 22px;
    text-align: center;
    text-decoration: none;
    vertical-align: top;
    white-space: nowrap;
    box-shadow:4px 4px 8px hsla(0,0%,0%,.2);
}