html,
body{
    height:100%;margin:0;padding:0
}

body{
    font-size:1.2rem;
    font-family:monospace;
    animation:fadein 3s
}

@keyframes fadein {
    from
    {
        opacity:0
    }

    to
    {
        opacity:1
    }
}

a{
    color:#195584
}

a:visited,a:hover,a:active{
    color:#7b598f
}

.boxes{
    display:grid;grid-template-columns:repeat(auto-fill,minmax(320px,1fr));grid-gap:2rem;
}

.boxes a{
    padding:2rem;border:1vw solid rgb(188, 11, 6);
    
    text-decoration:none;font-weight:bold;font-size:1.4rem;background:rgba(188, 11, 6, .2)
}
    
.boxes a span{color:#000;margin-top:2rem;display:block;font-weight:normal;font-size:1.2rem}

    
h1{
    letter-spacing:.2em;
    padding-top:0;
    margin:0;
    overflow:hidden;
    font-size:4vw;
    font-weight:700
}

h2{
    font-size:2.5vw
}

footer{
    width:calc(100% - 4rem);
    margin:6rem 2rem 6rem 2rem
}

footer p{
    text-align:right
}

main{
    padding:2rem;
}

header{
    padding: 2rem;
    background-color: rgb(188, 11, 6);
    color: #fff;
    text-shadow: 2px 2px hsla(0,0%,0%,.2);
    box-shadow: 10px 0 10px 10px hsla(0, 0%, 0%, .2);
    margin-bottom: 1rem;
}

header p a,
header p a:hover,
header p a:active,
header p a:visited{
    color:#fff;
}